<% title "Daibatsu!" %>  
<ul class='rounded'>
  <li>What is the worst batsu a parent can use to discipline their kids?</li>
  <li><%= image_tag '/images/batsu-small.jpg'%></li>
</ul>

<ul class='rounded'>
  <li class='flip'><%= link_to "Take the Survey", new_survey_path, :class => "whiteButton"  %></li>
</ul>
