<% title "What is the greatest batsu?" %>

<%= image_tag("/images/batsu.jpg")%>

<p><%= link_to "Take the Survey", new_survey_path %></p>
<p><%= link_to "See the Results", results_path, :method => :get %></p>
