<% title "Survey" %>

<p>
  <strong>Submitted By:</strong>
  <%=h @survey.submitted_by %>
</p>

<p>
  <%= link_to "Edit", edit_survey_path(@survey) %> |
  <%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", surveys_path %>
</p>
